#navibar {
    background: rgba(38, 7, 91, 1);
    font-family: Arial;
}

#navbarNavAltMarkup a {
    color: rgba(222, 163, 8, 1);
    margin: 0 20px;
}

#sec1 {
    height: 315px;
    background: url('images/background1.jpg') no-repeat center center fixed;
}

#sec1 img {
    margin: 105px 0;
}

#sec2 {
    height: auto;
    -webkit-height: auto;
    -moz-height: auto;
    -o-height: auto;
    -ms-height: auto;
    margin-bottom: 20px;
}

#sec2 h1 {
    margin: 60px 0 25px 0;
    font-family: Arial;
    font-size: 30px;
    display: inline-block;
    -webkit-display: inline-block;
    -moz-display: inline-block;
    -ms-display: inline-block;
    -o-display: inline-block;
    font-weight: 700;

}

ul{
    list-style: none;
    list-style-image: url('images/listlogo.png');
}

#sec2 h2 {
    margin: 20px;
    font-family: Arial;
    font-size: 15px;
    display: block;
    -webkit-display: block;
    -moz-display: block;
    -ms-display: block;
    -o-display: block;
    font-weight: 700;
    border-bottom: solid 2px rgba(222, 163, 8, 1);
}

#sec2 li {
    font-family: Arial;
    font-size: 15px;
}

#sec3 {
    height: auto;
    -webkit-height: auto;
    -moz-height: auto;
    -o-height: auto;
    -ms-height: auto;
    background: url('images/background2.jpg') no-repeat center center fixed;
}

#sec3 h1 {
    font-family: Arial;
    font-size: 30px;
    display: inline-block;
    -webkit-display: inline-block;
    -moz-display: inline-block;
    -ms-display: inline-block;
    -o-display: inline-block;
    color: white;
    margin: 60px 0 25px 0;
}

#sec3 p {
    font-family: Arial;
    font-size: 20px;
    color: white;
    background: rgba(9, 18, 89, 0.65);
    padding: 20px;
}

#sec4 {
    background: rgba(9, 18, 89, 1);
}

#sec4 h1 {
    font-family: Arial;
    font-size: 30px;
    display: block;
    -webkit-display: block;
    -moz-display: block;
    -ms-display: block;
    -o-display: block;
    border-bottom: solid 2px rgba(222, 163, 8, 1);
    -webkit-border-bottom: solid 2px rgba(222, 163, 8, 1);
    -moz-border-bottom: solid 2px rgba(222, 163, 8, 1);
    -ms-border-bottom: solid 2px rgba(222, 163, 8, 1);
    -o-border-bottom: solid 2px rgba(222, 163, 8, 1);
    color: white;
    margin: 20px 0 20px 0;
    padding: 10px;
}

#sec4 p {
    font-family: Arial;
    font-size: 15px;
    color: white;
    padding: 0;
    margin-bottom: 5px;
}

#sec4 footer p {
    font-family: Arial;
    font-size: 12px;
}
